<header class="site-nav">
      <div class="nav-content">
        <div class="logo">
          <a href="<%- url_for(theme.menu["home"]) %>"><%= theme.logo %></a>
        </div>
        <nav class="navbar">
          <ul>
            <% for(name in theme.menu) { %>
              <li class="menu-item">
                <a href="<%- url_for(theme.menu[name]) %>" class="menu-item-link"><i class="iconfont icon-<%= name %>"></i><%= __('menu.' + name) %></a>
              </li>
            <% } %>
          </ul>
        </nav>
        <% if   (theme.swift_search&&theme.swift_search.enable){ %>
        <form class="search" action="<%- config.root %>search/index.html" method="get" accept-charset="utf-8">
        <label>Search</label>
        <input type="text" class="st-default-search-input" maxlength="20" placeholder="Search" />
        </form>
        <% } %>
      </div>
</header>
