<!DOCTYPE html>
<html lang="cn">
<%- partial('_partials/head') %>
<body>
  <div class="mobile-header">
    <span><i class="iconfont icon-turnon" id="mobile-nav-toggle"></i></span>
    <div class="mobile-logo">
      <a href="<%= url_for('.') %>"><%= theme.logo %></a>
    </div>
  </div>
  <div class="page" id="mobile-nav-panel">
    <div class="container">
      <%- partial('_partials/header') %>
      <%- partial('_partials/banner') %>
      <main class="main"id="main">
          <%- body %>
          <%- partial('_partials/pagination') %>
          <%- partial('_partials/comments') %>
      </main>
    </div>
    <%- partial('_partials/footer') %>
    <div class="back-to-top" id="back-to-top">
      <i class="iconfont icon-up"></i>
    </div>
  </div>
  <%- partial('_partials/slideout') %>

  <%- js('libs/jQuery/jquery-3.2.1.min.js') %>
  <%- js('libs/slideout/slideout.min.js') %>
  <% if (theme.fancybox){ %>
    <%- css('libs/fancybox/jquery.fancybox.css') %>
    <%- js('libs/fancybox/jquery.fancybox.pack.js') %>
  <% } %>
  <%- partial('_widget/leancloud') %>
  <%- js('js/ztopic.js') %>

<script type="text/javascript">
  (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
  (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
  e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
  })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');
  
  _st('install','ENrrQtqCVAeKcMd7Pd7a','2.0.0');
</script>
 <script data-st-module="em_T2wA9sBAcp92ch7MVF6C" src="//s.swiftypecdn.com/modules/v1/embed.js" async defer></script>
</body>
</html>
